<div class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">Are you sure?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-type="yes-button">Da</button>
                <button type="button" class="btn btn-secondary" data-type="no-button">Nu</button>
            </div>
        </div>
    </div>
</div>

<script>
    function init(k,data) {
        let $modal = k.$el.find(".modal").appendTo("body");
        const defaultText = $modal.find(".modal-body").text();

        const $yesButton = $modal.find("[data-type=yes-button]");
        const $noButton = $modal.find("[data-type=no-button]");


        const defaultYesLabel = $yesButton.text();
        const defaultNoLabel = $noButton.text();

        k.exec = function (opts) {
            let callback = new Function();
            if(opts && opts.hasOwnProperty("callback"))
                callback = opts.callback;
            let data = {};
            if(opts && opts.hasOwnProperty("data"))
                data = opts.data;

            if(data.hasOwnProperty("text"))
                $modal.find(".modal-body").text(data.text);
            else
                $modal.find(".modal-body").text(defaultText);

            $yesButton.text(defaultYesLabel);
            if(data.hasOwnProperty("yesLabel"))
                $yesButton.text(data.yesLabel);

            $noButton.text(defaultNoLabel);
            if(data.hasOwnProperty("noLabel"))
                $noButton.text(data.noLabel);


            $modal.off("show.bs.modal").on("show.bs.modal",function(ev1){
                if(typeof callback==="function") {

                    $noButton.off("click").on("click", () =>{$modal.modal("hide");callback(false)});
                    $yesButton.off("click").on("click", () =>{$modal.modal("hide");callback(true)});
                }
            }).modal("show");
        };
    }


</script>