<style >
    .mylist2 li:hover{
        background: red;
    }
</style>

<ol type="1" class="mylist2">
    <li>a</li>
    <li>b</li>
    <li>c</li>
    <li><div is="component" data-url="module3.html#1"></div></li>
</ol>


<script>
    function init(k,data) {
        let $modal = k.$el.find(".modal").appendTo("body");

        k.exec = function (data,callback) {

        };
    }
</script>