
<style scoped>
    .mylist3 li:hover{
        background: silver;
    }
</style>
Module 3
<ul class="mylist3">
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
</ul>
<script>
    function init(container,data) {
        let $modal = $(container).find(".modal").appendTo("body");

        return {
            container: $(container),
            exec: function (data,callback) {

            }
        }
    }
</script>