
<style scoped>
    .mylist li:hover{
        background: silver;
    }
</style>

<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <ol type="1" class="mylist">
                    <li>a</li>
                    <li>b</li>
                    <li>c</li>
                    <li>d</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<script>
    function init(container,data) {
        let $modal = $(container).find(".modal").appendTo("body");

        return {
            container: $(container),
            $modal:  $modal,
            exec: function (data,callback) {
                this.$modal.off("shown.bs.modal").on("shown.bs.modal",function(ev1){
                    $modal.find("li").on("click",function (ev2) {
                        if(typeof callback==="function")
                            callback($(ev2.currentTarget).text());
                        $modal.modal("hide");
                    });
                }).modal("show");
            }
        }
    }
</script>