<style scoped>
    .mylist li:hover{
        background: silver;
    }
</style>

<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Module 1
                <ol type="1" class="mylist">
                    <li>a</li>
                    <li>b</li>
                    <li>c</li>
                </ol>

                <div is="component" data-url="module3.html#5"></div>
            </div>
        </div>
    </div>
</div>

<script>
    function init(k,data) {
        let $modal = k.$el.find(".modal").appendTo("body");

        k.exec = function (opts) {
            let callback;
            if(opts && opts.hasOwnProperty("callback"))
                callback = opts.callback;
            console.log(opts,callback);

            $modal.find("li").off("click").on("click",function (ev2) {
                if(typeof callback==="function") {
                    let val = $(ev2.currentTarget).text();
                    console.log(callback,val);
                    callback(val);
                }

                $modal.modal("hide");
            });

            $modal.modal("show");
        }
    }

</script>